
@import url("./mainStyles.css");

.chose-form{
    h2 ,p {
        margin: 10px;
    }
    
}
.btn-container {
    display: flex;
    justify-content: space-around; 
    width: 80%;

    .agree-btn {
        padding: 5px 25px;
        margin: 10px 16px; 
        border-radius: 15px;
        color: var(--texto1);
        background-color: var(--bg-form1);
        text-decoration: none;
        box-shadow: 0px 5px #0000003f;
    }

    #form-busqueda {
        padding: 10px;
        /* margin: 30px 16px; */
    
        #idBusqueda{
            padding: 10px;
            border-radius: 15px 0px 0px 15px;
        }

        #find-Id{
            padding: 10px;
            border-radius: 0px 15px 15px 0px;
            background-color: var(--bg-form1);
            color: var(--texto1);
        }
    }
}

.form-hidden {
    display: none;
}

#pacientForm{

    background-color: var(--bg-form1);
    border-radius: 1rem;
    color: var(--texto1);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 0;

   .id-user{
    display: none;
    }

    input{
        padding: 2px;
        border-radius: 5px;
        border: none;
    }
    #guardar {
      align-self: center;
      padding: 5px 25px;
      border-radius: 15px;
      border: none;
      background-color: var(--bg-form2);
      color: var(--texto1);
      box-shadow: 0px 5px #0000003f;
    }
     p{ 
        align-self: flex-start; 
     }
}

.table-pacients {
    font-family: monospace;
    color: black;
    background-color: bisque;
    margin: 10px auto;
    border-radius: 0px 0px 25px 25px;
    td {
      text-align: center;
    }
    width: 80%;

    thead {

        background-color:var(--bg-form1); 
        border-radius: 25px;
    }

    tr, td {
        padding: 8px;
    }
    
}


.edit-btn, .delete-btn{
    padding: 5px 20px;
    border-radius: 15px ;
    border: #0000003f;
    box-shadow: 0px 5px #0000003f;
    background-color: rgb(255, 214, 125);
    margin: 5px;
}

.delete-btn{
    background-color: rgb(255, 144, 125);
}

.btn-container {
    display: flex;
    justify-content: space-around; 
    flex-direction: row;


    .agree-btn {
        padding: 5px 25px;
        margin: 10px 16px; 
        border-radius: 15px;
        color: var(--texto1);
        background-color: var(--bg-form1);
        text-decoration: none;
        box-shadow: 0px 5px #0000003f;
    }

    #form-busqueda {
        padding: 10px;
        /* margin: 30px 16px; */
    
        #idBusqueda{
            padding: 10px;
            border-radius: 15px 0px 0px 15px;
        }

        #find-Id{
            padding: 10px;
            border-radius: 0px 15px 15px 0px;
            background-color: var(--bg-form1);
            color: var(--texto1);
        }
    }
}
@media only screen and (max-width : 901px) {
    .btn-container {

        align-items: center;
        flex-direction: column;    

    }
    }